/* .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }     */


   .center {
    position: absolute; /* или fixed */
    margin-top: -100px;
    /* остальные стили */
   }
   

 
   .zakaz {
    text-align: center;
    margin-top: -450px;
   }
   

   .name {
    margin-top: -15%;
    position: absolute; /* или fixed */
    left: 20px;
   }
   
   .button {
    background-color: rgb(70, 69, 69);
    color: white;
    margin-top: -13%;
    position: absolute; /* или fixed */
    left: 20px;
   }
   




   .orderItem {
    background-color: #ebecec;
    padding: 10px;
    margin-top: 0,5%;
    margin-bottom: 5px; /* Измененное значение отступа между товарами */
  }
  
  
  .orderItemMargin {
    /* margin-bottom: 10px; */
  }


  .buttonDell {
    background-color: rgb(70, 69, 69);
    color: white;
    /* position: absolute; */
    top: 5%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }