/* .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }     */


   .center {
    position: absolute; /* или fixed */
    margin-top: -100px;
    /* остальные стили */
   }
   

 
   .zakaz {
    text-align: center;
    /* margin-top: 50px; */
   }
   

   .name {
    margin-top: -490px;
    position: absolute; /* или fixed */
    left: 20px;
   }
   
   .button {
    background-color: rgb(70, 69, 69);
    color: white;
    margin-top: -450px;
    position: absolute; /* или fixed */
    left: 20px;
   }
   